@import url('https://fonts.googleapis.com/css?family=Acme');

*{
  padding: 0;
  margin: 0;
  font-family: 'Acme', sans-serif;

}

body{
  background-color: #E5E5E5;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

#search-form{
  text-align: center;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar{
  background-color: snow;
  border-style: none;
  border-radius: 25px;
  text-align: center;
  height: 50px;
  font-size: 44px;
  width: auto;
  transition: ease-in-out, width .5s ease-in-out;
}

#search-bar:focus{
  outline: none;
  border: none;
  border-radius: 25px;
  width: 1000px;
}

#search-bar:active{
  background-color: snow;
}

.btn{
  margin: 20px;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 26px;
}
#submit-btn{
  background: linear-gradient(to bottom right, red, purple, yellow);
}

#submit-btn:hover{
  background: linear-gradient(to bottom right, snow, purple, snow);

}
#main-canvas{
  height: 100%;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0;
  overflow-x: hidden;
  margin-top: 50px;
  background-color: #CCC;
  padding: 45px;
}

.gif{
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#sticky-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 29px;
   width: 100%;
   padding: 5px;
   background-color: #232323;
   color: snow;
   text-align: center;
   font-size: 29px;
}

#footer-txt{
  background: linear-gradient( red, rgb(87, 65, 107), yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#add-gifs{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 35px 35px;
}

#add-gifs-btn{
  background: linear-gradient(to bottom right, yellow, #80ed6f, aqua);
}
#add-gifs-btn:hover{
  background: linear-gradient(to bottom right, snow, #80ed6f, snow);
}

#home-arrow{
  font-size: 36;
  background: linear-gradient( plum, rgb(87, 65, 107), snow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
  display: none;
  top: 80vh;
}
